


<nav id="sidebar" class="active" >
    <h5><a href="/Default/Index" class="logo">GRCM.</a></h5>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Feature/FeatureList"><span><i class="fa-solid fa-home"></i></span> Anasayfa</a>
        </li>
        <li>
            <a href="/About/Index"><span><i class="fa-solid fa-user"></i></span>Hakkımda</a>
        </li>
        <li>
            <a href="/Category/CategoryList"><span><i class="fa-solid fa-list"></i></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/ProjectList"><span><i class="fa-solid fa-sheet-plastic"></i></span> Projeler</a>
        </li>
        <li>
            <a href="/Service/ServiceList"><span> <i class="fa-solid fa-bell-concierge"></i> </span> Hizmetler</a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList"><span><i class="fa-solid fa-users-line"></i></span> Referanslar</a>
        </li>
        <li>
            <a href="/Banner/BannerList"><span> <i class="fa-solid fa-wallet"></i> </span> Reklamlar</a>
        </li>
        <li>
            <a href="/Profile/ProfileList"><span> <i class="fa-regular fa-id-badge"></i> </span> İletişim</a>
        </li>
        <li>
            <a href="/Address/AddressList"><span> <i class="fa-solid fa-map-pin"></i> </span> Adres Bilgileri</a>
        </li>
        <li>
            <a href="/Contact/ContactList"><span> <i class="fa-solid fa-comment"></i>  </span> Gelen Mesajlar</a>
        </li>
        <li>
            <a href="/SocialMedia/SocialMediaList"><span><i class="fa-solid fa-hashtag"></i> </span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Hobby/HobbyList"><span><i class="fa-solid fa-icons"></i> </span> Hobiler</a>
        </li>
        <li>
            <a href="/Skill/SkilList"><span><i class="fa-solid fa-crown"></i> </span> Yetenekler</a>
        </li>

    </ul>

</nav>

