
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Yetenek Girşi</h2>

<form method="post">

    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="Title" /> @*name kısmı veri tabanıyla ililşkili olacağı için sql'deki tablonun sütun adıyla aynı olmalı*@
    <label>Yetenek Değeri</label>
    <input type="text" class="form-control" name="Value" />
    <label>Geçen Haftalık Değeri</label>
    <input type="text" class="form-control" name="LastWeekValue" />
    <label>Geçen Aylık Değeri</label>
    <input type="text" class="form-control"  name="LastMonthValue" />

    <br />

   <button class="btn btn-info">Yeteneği Kaydet</button>



</form>