@model IEnumerable<AcunMedyaAkademiPortfolio.Models.TblService>

<section class="ftco-section" id="services-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Hizmetler</span>
                <h2 class="mb-4">Hizmetlerimiz</h2>
                <p>En Güncel ve Kaliteli Hizmetler</p>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa fa-@item.IconUrl fa-2x" style="color:white"></i>
                            @*<span class="fa-@item.IconUrl"></span>*@
                        </div>
                        <div class="media-body">
                            <h3 class="heading mb-3">@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }



            @*<div class="col-md-6 col-lg-3">
            <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-app-development"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Web Application</h3>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-web-programming"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Web Development</h3>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-branding"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Banner Design</h3>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</section>