@model IEnumerable<AcunMedyaAkademiPortfolio.Models.TblCategory>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Kategori Listesi</h3>
<br />



<table class="table table-bordered">

    <thead>

        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Operations</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td align="center">
                    <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-info">Güncelle</a>
                    &nbsp &nbsp @*html bir tab - boşluk karakteri*@
                    <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a>
                </td>
            </tr>
        }

    </tbody>

</table>

<br />

<a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Ekle</a>

